#root,body,html{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
#root {
  overflow: auto; /* rolagem continua funcionando */
}

#root::-webkit-scrollbar {
  display: none; /* esconde a barra */
}