@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

#root,body,html{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}
#root {
  overflow: auto; /* rolagem continua funcionando */
}

#root::-webkit-scrollbar {
  display: none; /* esconde a barra */
}