.Dashboard-Um{
    border: 2px solid black;
    width: 200vh;
    height: 100%;
}
.MenuDashboard{
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 10vh;
    border-radius: 1.5vh;
    width: 30vh;
    height: 70vh;
    background-color: gray;
}