@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FBFBFB;
}

.Container1 {
  position: relative;
  z-index: 1;
  background-color: #F3F3F3;
  width: 100vw;
  height: 95vh;
}
.Container-Titulo{
    display: flex;
    flex-direction: column;
    margin-left: 23vh;
    margin-top: 10vh;
}
.TituloHome{
    font-family: 'Roboto', sans-serif;
    font-size: 6vh;
}
.PHome{
    margin-top: 1vh;
    font-family: 'Roboto', sans-serif;
    font-size: 3.5vh;
    width: 70vh;
}
.ImagemCaixa{
    position: relative;
    margin-left: 110vh;
    margin-top: -28vh;
}
.ImagemCaixa img{
    width: 60vh;
}
.Container-ButtonIrCadastro{
    margin-top: -20vh;
    margin-left: 23vh;
}
.Button{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 2.5vh;
    width: 50vh;
    height: 5vh;
    border: none;
    border-radius: 4vh;
    cursor: pointer;
    transition: 1s;
    background-color: black;
}

.Button:hover{
    background-color: #F3F3F3;
     border: 0.1vh solid #222222; 
    color: #0f0f0f;
}
.Colors{
    margin-top: 15vh;
    margin-left: 80vh;
    /* border: 1px solid black; */
    width: 60vh;
    display: flex;
    flex-direction: row;
    gap: 2vh;
}
.button1{
    width: 7vh;
    height: 7vh;
    background-color: #CB0019;
    border: none;
    border-radius: 15vh;
    cursor: pointer;
}
.button2{
    width: 7vh;
    height: 7vh;
    background-color: #2A7DF0;
    border: none;
    border-radius: 15vh;
    cursor: pointer;
}
.button3{
    width: 7vh;
    height: 7vh;
    background-color: #222222;
    border: none;
    border-radius: 15vh;
    cursor: pointer;
}
.ativo {
  outline: 0.3vh solid black;         /* borda preta ao redor */
  outline-offset: 0.3vh;              /* cria o "espaço" entre o botão e a borda */
  transition: 0.3s ease-in-out;  
  transform: scale(1.1);   /* animação opcional */
}
.Container2 {
  position: relative;
  z-index: 1;
  background-color: white;
  padding-top: 10vh;
  margin-top: 0;
  /* border: 1px solid black; */
  transition: all 0.5s ease-in-out;
}

.Container2.subir {
  margin-top: -20vh; /* sobe por cima do Container1 */
  z-index: 10;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.15);
}
.Comoperso{
    font-size: 3vh;
    margin-top: 10vh;
    margin-left: 80vh;
     font-family: 'Roboto', sans-serif;
}
.ImagensPersonaliza{
    /* border: 1px solid black ; */
    height: 30vh;
    width: 140vh;
    margin-left: 20vh;
    display: flex;
    flex-direction: row;
    gap: 20vh;
    justify-content: center;
    padding: 2vh;
}
.CaixaBranco{
    width: 35vh;
    height: 35vh;
}
.CaixaPerso{
    margin-right: 3vh;
    margin-top: 6vh;
    width: 25vh;
    height: 25vh;
}
.CaixaPronta{
    margin-top: 6vh;
    width: 25vh;
    height: 25vh;
}
.Textos2{
    font-size: 2.4vh;
    margin-left: 20vh;
    display: flex;
    flex-direction: row;
    font-family:'Poppins', sans-serif;
}
.Number{
    margin-top: 2vh;
    margin-left: 6vh;
}
.Number2{
    margin-top: 2vh;
    margin-left: 13vh;
}
.Number3{
    margin-top: 2vh;
    margin-left: 13vh;
}
.Textos3{
     width: 145vh;
    font-size: 2.2vh;
    margin-top: -4vh;
    margin-left: 20vh;
    display: flex;
    flex-direction: row;
    font-family:'Poppins', sans-serif;
    /* border: 1px solid pink; */

}
.Number4{
    margin-left: 8vh;
    /* border: 1px solid pink; */
    margin-top: 3vh;
    width: 90vh;
}
.Number5{
    margin-left: 13vh;
    margin-top: 3vh;
    /* border: 1px solid pink; */
    width: 80vh;
}
.Number6{
    margin-left: 13vh;
    margin-top: 3vh;
    /* border: 1px solid pink; */
    width: 90vh;
}

.Container3{
    margin-top: 10vh;
}
.TituloPerso{
    font-size: 3vh;
    margin-top: 10vh;
    margin-bottom: 5vh;
    margin-left: 10vh;
    font-family: 'Roboto', sans-serif;
}
