body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FBFBFB;
}
.Container{
   
    background-color: #F3F3F3;
     width: 100vw; /* 100% da largura da tela */
     height: 80vh; /* 100% da altura da tela */

}
.KAKA{
    
}