@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.container_pai_catalogo{
 width: 100%;
}

.container_h1_catalogo_escolha_box{
width: 100%;
display: flex;
justify-content:center;
align-items: center;

margin-top: 4%;
}


.container_h1_catalogo_escolha_box h1{
font-size: 30px;
font-family: poppins;

}


.container_h1_catalogo_escolha_box span{
font-size: 50px;
font-family: poppins;

}.container_search_bar{

width: 100%;
display: flex;
justify-content: center;
margin-top: 10px;
padding: 5px;
}
.container_search_bar input{

width: 35%;
height: 3.5vh;
border-radius: 40px;
background-color: #F3F3F3;
border: none;
padding-left: 30px;
font-size: 20px;
font-weight:500 ;
background-image: url('./icon/lupa_search_bar.svg');
background-repeat: no-repeat;
background-position:98% ;
background-size: 60px;
padding: 20px;
}
.container_search_bar input:focus{

    outline: black  1px solid;

}
.container_h1_boxs{
padding-top: 50px;
width: 100%;
font-family:'Poppins', sans-serif;
}

.container_caixas{
    margin-left: 5vh;
    border: 0.3vh solid pink;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5vh;
}
.CatalogoADM{
    position: relative;
    height: 35vh;
    width: 25vh;
    background-color: #F3F3F3;
}
.imagemCatalogo{
    margin-left: 2vh;
    margin-top: -8vh;
    width: 23vh;
    /* border: 0.3vh solid orange; */
}
.descricaoCatalogo1{
    font-weight: 600;
    margin-left: 2vh;
    font-family:'Poppins', sans-serif;
}
.precoCatalogo{
    margin-left: 2vh;
    font-family:'Poppins', sans-serif
}