
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.container_custom_caixa_e_mD3{

  
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: space-between;
}

.container_modelo_3D {
  width: 50%;
  height: 95%;
  border: solid 2px blueviolet; /* ← aqui está certo */
  display: flex;
  justify-content: center;
}
.modelo_3D{

height:100%;
width: 100%;


}.h1_andares_caixa{

font-size:22px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
}
.h1_pesonalização_caixa{

width: fit-content;
font-size:22px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
}

.container_custom_caixas{

border: solid red 2px;
width: 50%;
height: 95%;
padding: 5px;


}.title_custom_caixa{
display: flex;
justify-content: center;
height: fit-content;
border: red 1px solid;

}
.container_all_andares_caixa{

}


 .container_andares_custom_caixa{




 } 

.container_andares_caixa{

 
display: flex;
justify-content: start;
gap: 20px;
padding: 5px;
}


.cotainer_laminas_esq_cores{
display:flex ;
flex-direction: column;
gap: 0px;
padding: 5px;
height: 20%;

}

.cotainer_laminas_front_cores{

display:flex ;
flex-direction: column;
gap: 0px;
padding: 5px;
height: 20%;
  
}


.cotainer_laminas_dir_cores{


display:flex ;
flex-direction: column;
gap: 0px;
padding: 5px;
height: 20%;
  
}



.button_cor_chasi_vermelho{
height: 35px;
width: 35px;
border-radius: 100%;
border: none;
background-color:#CB0019 ;
}

.button_cor_chasi_preto{
height: 35px;
width: 35px;
border-radius: 100%;
border: none;
background-color:#222222 ;
}
.button_cor_chasi_azul{
height: 35px;
width: 35px;
border-radius: 100%;
border: none;
background-color:#2A7DF0 ;
}


.container_h1_chasi{
  display: flex;
  justify-content: center;
align-items: center;
width: fit-content;
height: fit-content;
}
.container_paleta_chasi{
display: flex;
justify-content: space-around;
align-items: center;
width:25%;

}

.container_cor_chasi{
display:flex ;
flex-direction: column;
height: 20%;

}


.h1_chasi_color{
height: fit-content;
width: fit-content;
font-size:22px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
}


.button_cor_lamina_esq_sem_cor{

  height: 35px;
width: 35px;
border-radius: 100%;
border: none;
background-color:gray;

}
.button_cor_lamina_esq_vermelho{
  height: 35px;
width: 35px;
border-radius: 100%;
border: none;
background-color:#CB0019 ;
}
.button_cor_lamina_esq_preta{
  height: 35px;
width: 35px;
border-radius: 100%;
border: none;
background-color:#222222 ;
}
.button_cor_lamina_esq_azul{
  height: 35px;
width: 35px;
border-radius: 100%;
border: none;
background-color:#2A7DF0 ;
}
.button_cor_lamina_esq_verde{
  height: 35px;
width: 35px;
border-radius: 100%;
border: none;
background-color:#3DAE00 ;
}
.button_cor_lamina_esq_branca{
  height: 35px;
width: 35px;
border-radius: 100%;
border: none;
background-color:#F5F5F5 ;
}
.button_cor_lamina_esq_amarela{
  height: 35px;
width: 35px;
border-radius: 100%;
border: none;
background-color:#FFB200 ;
}


.button_cor_lamina_front_sem_cor{

  height: 35px;
width: 35px;
border-radius: 100%;
border: none;
background-color:gray ;

}
.button_cor_lamina_front_vermelho{
  height: 35px;
width: 35px;
border-radius: 100%;
border: none;
background-color:#CB0019 ;
}
.button_cor_lamina_front_preta{
  height: 35px;
width: 35px;
border-radius: 100%;
border: none;
background-color:#222222 ;
}
.button_cor_lamina_front_azul{
  height: 35px;
width: 35px;
border-radius: 100%;
border: none;
background-color:#2A7DF0 ;
}
.button_cor_lamina_front_verde{
  height: 35px;
width: 35px;
border-radius: 100%;
border: none;
background-color:#3DAE00 ;
}
.button_cor_lamina_front_branca{
  height: 35px;
width: 35px;
border-radius: 100%;
border: none;
background-color:#F5F5F5 ;
}
.button_cor_lamina_front_amarela{
  height: 35px;
width: 35px;
border-radius: 100%;
border: none;
background-color:#FFB200 ;
}




.button_cor_lamina_dir_sem_cor{

  height: 35px;
width: 35px;
border-radius: 100%;
border: none;
background-color:gray ;

}
.button_cor_lamina_dir_vermelho{
  height: 35px;
width: 35px;
border-radius: 100%;
border: none;
background-color:#CB0019 ;
}
.button_cor_lamina_dir_preta{
  height: 35px;
width: 35px;
border-radius: 100%;
border: none;
background-color:#222222 ;
}
.button_cor_lamina_dir_azul{
  height: 35px;
width: 35px;
border-radius: 100%;
border: none;
background-color:#2A7DF0 ;
}
.button_cor_lamina_dir_verde{
  height: 35px;
width: 35px;
border-radius: 100%;
border: none;
background-color:#3DAE00 ;
}
.button_cor_lamina_dir_branca{
  height: 35px;
width: 35px;
border-radius: 100%;
border: none;
background-color:#F5F5F5 ;
}
.button_cor_lamina_dir_amarela{
  height: 35px;
width: 35px;
border-radius: 100%;
border: none;
background-color:#FFB200 ;
}
.container_paleta_lamina_esq{
display: flex;
height: fit-content;
justify-content: space-between;
width: 50%;
gap: 10px;
}

.h1_cor_lamina_esq{

font-size:22px;
width: fit-content;
font-family: 'Roboto', sans-serif;
font-weight: 500;
}

.container_paleta_lamina_front{

  display: flex;
height: fit-content;
justify-content: space-between;
width: 50%;
gap: 10px;
}

.cor_h1_lamina_frontal{
width: fit-content;
font-size:22px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
}


.container_paleta_lamina_dir{

display: flex;
height: fit-content;
justify-content: space-between;
width: 50%;
gap: 10px;
}
.h1_lamina_dir{


font-size:22px;
width: fit-content;
font-family: 'Roboto', sans-serif;
font-weight: 500;
}







