@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FBFBFB;
}
.Titulo-Dashboard{
    margin-top: 5vh;
    margin-left: 50vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 5.2vh;
}
.ContainerInfosCaixa{
    border: 2px solid black;
    margin-top: -70vh;
    margin-left: 60vh;
    width: 110vh;
    height: 65vh;
}
.InputSearch{
    margin-left: 30vh;
    width: 50vh;
    height: 6vh;
    border: none;
    outline: none;
    position: fixed;
    background-color: #F3F3F3;
    border-radius: 2.5vh;
}
.LixeiraGestao{
    margin-top: 10vh;
    margin-left: 105vh;
    width: 5vh;
    height: 5vh;
}
.P-VisuCaixa{
    margin-top: -45vh;
    margin-left: 7vh;
    position: relative;
}
.ContainerInfosCaixa2{
    margin-left: 50vh;
    border: 2px solid black;
    width: 50vh;
    height: 45vh;
}
.InptDescrição{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
}
.InptValor{
    margin-top:2vh;
    display: flex;
    flex-direction: column
}
.ButtonsContainer{
    margin-left: 10vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
}
.AdcionarButtons{
    margin-left: 2vh;
}

.Container-VisuCaixa{
    position: relative;
    margin-top: 2vh;
    width: 35vh;
    height: 40vh;
    background-color: #F3F3F3;
}