@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.container_caixas{
    margin-left: 5vh;
    /* border: 0.3vh solid pink; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5vh;
}

.CatalogoADM{
    position: relative;
    height: 35vh;
    width: 25vh;
    background-color: #F3F3F3;
}
.imagemCatalogo{
    margin-left: 2vh;
    margin-top: -2vh;
    width: 23vh;
    /* border: 0.3vh solid orange; */
}
.descricaoCatalogo{
    font-weight: 600;
    margin-left: 2vh;
    font-family:'Poppins', sans-serif;
}
.precoCatalogo{
    margin-left: 2vh;
    font-family:'Poppins', sans-serif
}
.buttonDeleteCatalogo{
    margin-left: 7vh
}
.editButtonCatalogo {
    position: absolute;
    height: 5vh;
    top: 1vh;
    right: 1vh;
    z-index: 10;
    cursor: pointer;
}