.containerEstoque{
    width: 100%;
    min-height: 100vh;
}
.conateinerChassi{
    width: 60%;
    border: #D9D9D9 2px solid;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    font-family: "Roboto";
    font-weight: 500;
    gap: 25%;

}
.containerItens{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.btnEditarEstoque{
    width: 25vh;
    height: 10vh;
    font-size: 2rem;
    font-family: "Roboto",sans-serif;
    background-color: #256900;
    color: #fbfbfb;
    border-radius: 10px;
}
.containerBtnEstoque{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.containerH1Estoque{
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    color: #256900;
    font-size: 1.5rem;
    gap: 22%;
}
.iconSeta{
    width: 10vh;
    margin-left: 10%;
}