.containerEstoque{
    width: 100%;
    min-height: 100vh;
    margin-top: -100vh;
    margin-left: 15vh
}
.conateinerChassi{
    width: 60%;
    border: #D9D9D9 2px solid;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    font-family: "Roboto";
    font-weight: 500;
    gap: 25%;

}
.containerItens{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.btnEditarEstoque{
 font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #3dae00;
    border-radius: 2.5vh;
    border: none;
    margin-left: 0vh;
    margin-top: 3vh;
    height: 5vh;
    width: 29vh;
    transition: background-color 0.25s ease, box-shadow 0.25s ease;
}
.btnEditarEstoque:hover{
    background-color: #1e5501;
    
    box-shadow: 0px 0px 10px rgba(20, 85, 0, 0.507);
}
.containerBtnEstoque{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.containerH1Estoque{
    width: 100%;
    align-items: center;
    margin-left: 70vh;
    justify-content: flex-start;
    display: flex;
    color: #256900;
    font-size: 1.5rem;
    gap: 22%;
}
.iconSeta{
    width: 10vh;
    margin-left: 10%;
}