.containerSucessModal {
  position: fixed;
  left: 5%;
  top: 8%;
  background-color: #ecd8a1;
  border: solid 0.1vh #FFB200;
 
  border-radius: 1.1vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; */
  width: 50vh;
  animation: fadeInDown 0.3s ease forwards;
  height: 10vh;
  
}

.pModalSuccess {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  width: 270px;
  text-align: center;
  margin-top: -1vh;
  margin-left: 12vh;
  color: #222222;
}

.SuccessModalH2 {
  margin-top: -7vh;
  font-size: 1.3em;
  text-align: center;
  font-family: "Roboto",sans-serif;
  color: #222222;
  
}

.imgSucessModal{
  width: 60px;
  margin-top: 2vh;
  margin-left: 5vh;
}

.containerSucessModal.exit {
  animation: fadeOutUp 0.3s ease forwards;
}

