@keyframes fadeInDown {/* animação para a entarda do component*/
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.containerErrorModal {
  position: fixed;
  left: 9%;
  top: 10%;
  background-color: #a5c6eb;
  border: solid 0.1vh #0077ff;
  border-radius: 1.1vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; */
  width: 50vh;
  animation: fadeInDown 0.3s ease forwards;
  height: 10vh;
  margin-top: 60vh;
  
}

.pModalError {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  width: 270px;
  margin-left: 13.5vh;
  text-align: center;
  margin-top: -1vh;
}

.errorModalH2 {
  font-size: 1.3em;
  text-align: center;
  font-family:"Roboto",sans-serif ;
  margin-top: -6vh;
  margin-left: 1vh;
  color: rgb(16, 17, 19);
  
}

.imgErrorModal {
  width: 50px;
  margin-left: 6vh;
  margin-top: 2vh;
}

.containerErrorModal.exit {
  animation: fadeOutUp 0.3s ease forwards;
}

