@keyframes fadeInDown {/* animação para a entarda do component*/
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.containerErrorModal {
  position: fixed;
  left: 10%;
  top: 10%;
  background-color: #fbfbfb;
  box-shadow: 2px 2px 15px 10px rgba(139, 139, 139, 0.397);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 350px;
  animation: fadeInDown 0.3s ease forwards;
  height: 210px;
  
}

.pModalError {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  width: 270px;
  text-align: center;
  margin: 0 auto;
}

.errorModalH2 {
  font-size: 1.5em;
  text-align: center;
  font-family:"Roboto",sans-serif ;
  
  
}

.imgErrorModal {
  width: 50px;
}

.containerErrorModal.exit {
  animation: fadeOutUp 0.3s ease forwards;
}

