@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.navbar{
  display:flex ;
  flex-direction: row;
  justify-content: space-between;
  padding: 2vh;
  width: 95%;   
   z-index: 9999; /* fica acima de tudo */
  top: 0;
  left: 0;
}
.navbar img {
  width: 6vh;
  height:6vh;
  
}
.Infos{

  font-size: 2.5vh;
  
  display: flex;
  flex-direction: row;
  gap: 2vh;
  font-family: 'Roboto', sans-serif;
  color: #1a1a1a;
  align-items: center;
  width: auto;
  max-width: 80%;  /* opcional */
}
.Infos p:hover{
  cursor: pointer;
  color: #11ce21;
}
.container_Icons{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vh;
  width: fit-content;
  padding-left: 40vh;
}
.container_Icons img{
  width: 5vh;
  height: 5vh;
  margin: 5px;
}
.container_links_nav_bar{
  width: 100vh;
  display: flex;
  justify-content: space-around;
  font-size: 19px;
  margin: 3px;


}
.container_icons_user_sacola{
  width: 40px;
  height: 10px;
  border: solid green 2px;
}